#update-manager-container {
  display: none;
  position: relative;
}

#update-manager-container.displayed {
  display: block;
}

#update-manager-container progress {
  display: none;
  position: absolute;
  width: 100%;
  height: 0.4rem;
  left: 0;
  bottom: 0;
  border: none;
}

#update-manager-container progress::-moz-progress-bar {
  background: url(../shared/progress.gif) repeat-x;
}

#update-manager-container.downloading progress {
  display: block;
}

#update-manager-container > .title-container {
  margin-top: 1.4rem;
  margin-bottom: 0;
  -moz-margin-start: 3.7rem;
  -moz-margin-end: 0;
}

#update-manager-container > .title-container > span {
  display: block;
  color: #858585;
  font-size: 1.4rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* Toaster */
#update-manager-toaster > .icon {
  float: left;
  display: block;
  width: 2.4rem;
  height: 2.4rem;
  margin: 1.3rem;
  background-image: url(images/iconindicator_download_24x24.png);
  background-size: 2.4rem;
}

#update-manager-toaster > .message {
  position: absolute;
  left: 5rem;
  top: 1rem;
  width: calc(100% - 5.5rem);
  color: #52b8cc;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 2.8rem;
}

#update-manager-toaster > .message > span {
  display: none;
}

#update-manager-toaster {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 5rem;
  overflow: hidden;
  background-image: url(images/grey-noise-bg.png);
  background-repeat: repeat-x;
  background-size: auto 100%;
  -moz-box-sizing: border-box;
  border-bottom: 0.1rem #2c2c2c solid;
  transform: translateY(-5rem);
  visibility: hidden;
  transition: transform .3s ease-in-out, visibility .3s;
}

#update-manager-toaster.displayed {
  transform: translateY(0);
  visibility: visible;
}

#updates-viaDataConnection-dialog,
#updates-download-dialog {
  /* Increasing padding size form 1.5 to 3.5rem for confirm dialogs with statusbar active */
  padding-top: 3.5rem;
  display: none;
}

#screen.software-button-enabled #updates-viaDataConnection-dialog,
#screen.software-button-enabled #updates-download-dialog {
  bottom: var(--software-home-button-height);
}

@media (orientation: landscape) {
  #screen.software-button-enabled #updates-viaDataConnection-dialog,
  #screen.software-button-enabled #updates-download-dialog {
    bottom: 0;
    right: var(--software-home-button-height);
  }
}

#updates-viaDataConnection-dialog.visible,
#updates-download-dialog.visible {
  display: inline-block;
  pointer-events: auto;
}

#updates-download-dialog ul {
  list-style: none;
  margin-top: 0.4rem;
  -moz-padding-start: 0;
}

#updates-download-dialog li {
  min-height: 5rem;
  margin: 0 1rem 0;
  border-top: solid 0.1rem rgba(255, 255, 255, 0.05);
}

#updates-download-dialog li:first-child {
  margin-top: 0;
  border-top: 0;
}

#updates-download-dialog span {
  display: block;
  font-weight: 500;
  color: #ebebeb;
  font-size: 1.4rem;
  line-height: 1.7rem;
}

#updates-download-dialog li .name {
  font-size: 1.5rem;
  line-height: 1.7rem;
  color: white;
  font-weight: normal;
  padding: 0.8rem 0 0;
  display: block;
}

#updates-download-dialog li.nosize .name {
  padding-top: 1.7rem;
}

#updates-download-dialog label {
  height: 5rem;
  color: #ebebeb;
  line-height: 5rem;
  font-weight: 300;
  font-size: 1.4rem;
}

#updates-download-dialog label.required {
  width: 10rem;
  right: 0.5rem;
  text-align: right;
  text-transform: uppercase;
  height: 3rem;
  line-height: 3.4rem;
}

#updates-download-dialog p {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 6.8rem;
  max-height: 6.6rem;
  padding: 1rem 1.8rem;
  line-height: 2.2rem;
  margin: 0;

  background-color: rgba(0, 0, 0, 0.4);
  border-top: solid 0.1rem rgba(255, 255, 255, 0.2);
  overflow-y: scroll;

  font-size: 1.6rem;
  white-space: normal;
}

#updates-download-dialog[data-nowifi="true"] section {
  /* Fixing at the top of the screen to properly make room for the warning */
  position: absolute;
  top: 3rem;
  max-height: calc(100% - 15rem - 3rem);
}

/* System update splash screen */

#system-update-splash
{
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #2d2d2d;
}

#system-update-splash > div
{
  position: absolute;
}

#system-update-splash > #label
{
  top: calc(50% - 3rem);
  left: 3rem;
  right: 3rem;
  font-size: 1.6rem;
  font-weight: 400;
  color: white;
  text-align: start;
}

#system-update-splash > #divider
{
  top: 50%;
  left: 1.5rem;
  width: calc(100% - 3rem);
  height: 0.05rem;
  background-color: #676767;
  box-shadow: 0 0 0.1rem rgba(0, 0, 0, 0.5);
}

#system-update-splash > #icon
{
  top: calc(50% + 1rem);
  width: 100%;
  height: 7.6rem;
  background-image: url(images/system_update.png);
  background-size: 7.6rem;
  background-position: center;
  background-repeat: no-repeat;
}

/* RTL View */

html[dir="rtl"] #update-manager-toaster > .icon {
  float: right;
}

html[dir="rtl"] #update-manager-toaster > .message {
  left: unset;
  right: 5rem;
}

html[dir="rtl"] #updates-download-dialog label {
  float: left;
}

html[dir="rtl"] #updates-download-dialog label.required {
  left: 0.5rem;
  right: unset;
  text-align: left;
}
