#rocketbar {
  position: fixed;
  width: 100%;
  height: 4.6rem;
  left: 0;
  top: 0;
  display: block;
  pointer-events: none;
  opacity: 0;
  transform: scale(1) translateY(var(--statusbar-height));
  transition: opacity 0.25s linear;
}

#rocketbar.active {
  opacity: 1;
  pointer-events: auto;
}

#screen.locked:not(.attention) #rocketbar {
  display: none;
}

#rocketbar-form {
  height: 3.4rem;
  background: rgba(31, 31, 31, 1);
  border-radius: 1.7rem;
  padding: 0 1rem;
  margin: 0.3rem 0.5rem 0.6rem 0.5rem;
  overflow: hidden;
  white-space: nowrap;
}

#rocketbar-form {
  display: flex;
  flex-direction: row;
}

#rocketbar-input {
  background: none;
  display: block;
  width: 100%;
  height: 2rem;
  color: #e7e7e7;
  padding: 0;
  -moz-padding-start: 0.5rem;
  text-overflow: ellipsis;
}

#rocketbar-input {
  font-size: 1.8rem;
  box-shadow: none;
  border: none;
  height: 2rem;
  margin-top: .7rem;
}

#rocketbar-input::-moz-placeholder {
  font-style: italic;
  font-weight: 300;
  opacity: 1;
  color: rgba(231, 231, 231, 0.4);
}

#rocketbar-input {
  flex: auto;
  min-height: 0;
  min-width: 0;
}

#rocketbar-cancel, #rocketbar-clear {
  flex: none;
}

#rocketbar-clear {
  display: none;
}

#rocketbar.has-text #rocketbar-clear {
  display: block;
}

#rocketbar-clear {
  border: none;
  background: url(clear_dark.png) no-repeat center center;
  background-size: 2.4rem 2.4rem;
  width: 4rem;
}

#rocketbar-cancel {
  position: relative;
  background: none;
  border: none;
  color: #00AACC;
  font-size: 1.4rem;
  font-style: italic;
  line-height: 1.8rem;
  padding: 0 0.7rem 0 1.4rem;
}

#rocketbar-cancel::before {
  content: '';
  position: absolute;
  left: 0;
  top: .5rem;
  height: 2.4rem;
  width: .1rem;
  background-color: rgba(255, 255, 255, 0.08);
}

#rocketbar-results, #rocketbar-backdrop {
  position: fixed;
  left: 0;
}

#rocketbar-results {
  height: calc(100% - 7rem);
  top: 7rem;
  width: 100%;
}

#rocketbar-backdrop {
  top: 0;
  height: 100%;
  width: 100%;
  background-color: #333;
  transition: opacity var(--transition-duration) linear;
  opacity: 0.85;
}

#rocketbar-backdrop.results-shown {
  opacity: 1;
}

/* Rocketbar results is normally 7rem tall and should be adjusted by the
   height of the SHB when enabled */
#screen.software-button-enabled #rocketbar-results {
  height: calc(100% - 7rem - var(--software-home-button-height));
}

#rocketbar-results.hidden, #rocketbar-results .inactive iframe,
#rocketbar-backdrop.hidden {
  opacity: 0;
  pointer-events: none;
}

#rocketbar.navigation:not(.active) {
  display: flex;
  flex-direction: row;
}

@media (orientation:landscape) {
  #screen.software-button-enabled #rocketbar-results,
  #screen.software-button-enabled #rocketbar {
    width: calc(100% - var(--software-home-button-height));
  }

  #screen.software-button-enabled #rocketbar-results {
    height: calc(100% - 7rem);
  }
}

/* RTL View */
html[dir="rtl"] #rocketbar-cancel::before {
  left: unset;
  right: 0;
}
