<element name="accessibility-screenreader" extends="section">
  <template>

    <gaia-header action="back" data-href="#accessibility">
      <h1 data-l10n-id="screenReader-header"></h1>
    </gaia-header>

    <div>
      <ul data-show-name="accessibility.screenreader-show-settings" hidden>
        <li id="screenreader-enable">
          <gaia-switch data-ignore>
            <label data-l10n-id="screenReader-toggle"></label>
            <details data-l10n-id="screenReader-enable-msg" id="screenreader-enable-msg"></details>
          </label>
        </li>
        <li class="sound-setting" data-show-name="accessibility.screenreader" hidden>
          <label>
            <p data-l10n-id="screen-reader-speech-volume"></p>
            <input name="accessibility.screenreader-volume"
                   step="0.1" min="0" value="1" max="1" type="range">
          </label>
        </li>
        <li class="sound-setting" data-show-name="accessibility.screenreader" hidden>
          <label>
            <p data-l10n-id="screen-reader-speech-rate"></p>
            <input name="accessibility.screenreader-rate"
                   step="1" min="-4" value="0" max="9" type="range">
          </label>
        </li>
        <li data-show-name="accessibility.screenreader" hidden>
          <gaia-switch name="accessibility.screenreader-captions">
            <label data-l10n-id="screenReader-captions"></label>
          </label>
        </li>
      </ul>
    </div>

    <form role="dialog" data-type="confirm" id="screenreader-confirm-dialog" hidden>
      <section>
        <h1></h1>
        <p></p>
      </section>
      <menu>
        <button data-l10n-id="cancel"></button>
        <button class="danger"></button>
      </menu>
    </form>

    <panel data-path="panels/accessibility_screenreader/panel"><panel>

  </template>
</element>
