<element name="addon-details" extends="section">
  <template>

    <gaia-header action="back" data-href="#addons" hidden>
      <h1 class="addon-details-header" data-l10n-id="addon-details-header1"></h1>
    </gaia-header>

    <div class="addon-details-body" hidden>
      <ul>
        <li>
          <gaia-switch class="addon-enabled">
            <label data-l10n-id="addon"></label>
            <details></details>
          </gaia-switch>
        </li>
      </ul>

      <ul>
        <li>
          <label class="addon-details-info">
            <img class="addon-details-icon">
            <span class="addon-details-name"></span>
            <small class="addon-developer"></small>
          </label>
          <p class="addon-description-text addon-paragraph"></p>
          <button data-l10n-id="addon-rename" class="addon-rename"></button>
        </li>
      </ul>

      <header>
        <h2 data-l10n-id="addon-targets"></h2>
      </header>
      <ul>
        <li>
          <p class="addon-targets addon-paragraph"></p>
        </li>
      </ul>

      <ul>
        <li>
          <button class="addon-delete danger" data-l10n-id="addon-delete">
          </button>
        </li>
      </ul>
    </div>

    <panel data-path="panels/addon_details/panel"></panel>

  </template>
</element>
