<element name="operator-settings" extends="section">
  <template>

    <gaia-header action="back" data-href="#carrier">
      <h1 data-l10n-id="networkOperator-header"></h1>
    </gaia-header>

    <div>
      <ul>
        <li class="preferred-network-type">
          <p data-l10n-id="operator-networkType"></p>
          <span class="button icon icon-dialog">
            <select>
            </select>
          </span>
        </li>
        <li class="operator-roaming-preference" hidden>
          <p data-l10n-id="operator-roamingPreference"></p>
          <span class="button icon icon-dialog">
            <select>
              <option data-l10n-id="operator-roamingPreference-home" value="home"></option>
              <option data-l10n-id="operator-roamingPreference-any" value="any"></option>
            </select>
          </span>
        </li>
        <li class="auto-select">
          <gaia-switch data-ignore>
            <label data-l10n-id="operator-autoSelect"></label>
          </label>
        </li>
      </ul>

      <div class="available-operators">
        <header class="available-operators-header">
          <h2 data-l10n-id="availableOperators"></h2>
        </header>
        <ul class="available-operators-list" hidden>
        </ul>
        <ul class="available-operators-info">
          <li class="search-info explanation"></li>
          <li class="search-btn-li">
            <button class="search-btn" data-l10n-id="scanNetworks"></button>
          </li>
        </ul>
      </div>
    </div>

    <panel data-path="panels/operator_settings/panel"><panel>

  </template>
</element>
