<element name="search" extends="section">
  <template>
    <gaia-header action="back" data-href="#root">
      <h1 data-l10n-id="search-header"></h1>
    </gaia-header>

    <div>
      <ul>
        <li>
          <p data-l10n-id="search-engine"></p>
          <div class="button icon icon-dialog">
            <select name="search.provider">
            </select>
          </div>
        </li>
        <li>
          <gaia-switch name="search.suggestions.enabled">
            <label data-l10n-id="search-suggestions"></label>
          </gaia-switch>
        </li>
        <li class="description">
          <p data-l10n-id="search-suggestions-description"></p>
        </li>
      </ul>
    </div>

    <panel data-path="panels/search/panel"></panel>
  </template>
</element>
